.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    
}

.button {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

.button:active {
    background-color: #ccc;
    transition-duration: 0.2s;
}

.input {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    grid-column: span 4;
    animation: typing 0.5s;
}