.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .content {
        width: 100%;
        height: 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: space-between;

        .header {
            display: flex;
            max-height: 15vh;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: sticky;
            z-index: 99999;

            .close-button {
                // align-self: flex-end;
                // justify-self: flex-end;
                background-color: transparent;
                border: none;
                font-size: 24px;
                font: bold 20px Arial;
                color: #0073fe;
                cursor: pointer;
                right: 20px;
                position: absolute;
                ;
            }

            .title {
                justify-self: center;
                // position: relative;
                font-size: 24px;
                font-weight: bold;
                color: rgb(255, 255, 255);
            }
        }

        .main {
            height: 100vh;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-y: scroll;

            .list-title {
                display: flex;
                font-size: 12px;
                font-weight: bold;
                color: rgba(255, 255, 255, 0.438);
                padding: 20px;
            }

            .list {
                display: flex;
                flex-direction: column;
                background-color: gray;
                margin-bottom: 8rem;

                .list-item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-top: 0.1px solid #ffffff5e;
                    
                    font-size: 12px;
                    padding: 20px;
                    // height: 200px;
                    color: white;

                    .check {
                        color: #009dff;
                        width: 0.8rem
                    }
                }

                .last {
                    border-bottom: 0.1px solid #ffffff5e;
                    // padding-bottom: 20rem;
                    // bottom: 20rem;
                }
            }
        }
    }
}

@media screen and (min-height: 900px) {
    .popup {
        .content {
            .header {
                .close-button {
                    font-size: 8rem;
                }

                .title {
                    font-size: 8rem;
                }
            }
            .main {
                // height: 50vh;
                // justify-items: flex-end;
                .list-title {
                    font-size: 6rem;
                    padding-left: 10rem;
                }

                .list {
                    margin-bottom: 20rem;
                    .list-item {
                        padding: 10rem;
                        font-size: 6rem;
                        .check {
                            width: 6rem
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1157px) and (min-height: 900px) {
    .popup {
        .content {
            .header {
                .close-button {
                    font-size: 3rem;
                }

                .title {
                    font-size: 3rem;
                }
            }
            .main {
                .list-title {
                    font-size: 2rem;
                    padding-left: 5rem;
                }

                .list {
                    .list-item {
                        padding: 5rem;
                        font-size: 2rem;
                        .check {
                            width: 2rem
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) and (min-height: 900px) {
    .popup {
        .content {
            .header {
                .close-button {
                    font-size: 40px;
                }

                .title {
                    font-size: 40px;
                }
            }
            .main {
                .list-title {
                    padding-left: 4rem;
                    font-size: 2rem;
                }

                .list {
                    .list-item {
                        padding: 4rem;
                        font-size: 2rem;
                        .check {
                            width: 2rem
                        }
                    }
                }
            }
        }
    }
}