.arrow {
    width: 200px;
    height: 250px;
    cursor: pointer;
    position: absolute;
    right: 100px;
    bottom: 100px;
    z-index: 1;

    .arrow-icon {
        width: 100%;
        height: 100%;
    }

    .up {
        transform: rotate(90deg);
        filter: invert(100%);
        transition: transform .2s ease-in-out;
    }

    .down {
        transform: rotate(270deg);
        filter: invert(100%);
        transition: transform .2s ease-in-out;
    }
}

